<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">

    <title>Sparki Controller</title>

    <link rel="stylesheet" href="css/style.css" type="text/css">

  </head>
  <body>
    <form id="submit" action='/' method='post'>
    <script src="js/artyom.window.min.js"></script>
    <script type="text/javascript" src="js/script.js" defer></script>
    <button type="submit"> SEARCH </button>
    </form>
    <div class="wrapper">
      <div class="content">

      </div>
    </div>

  </body>
</html>
